
<% layout('layout/page') -%>

<% block('title', 'Чат') %>

<p class="lead">Здесь будет чат.</p>

<p class="lead">Добро пожаловать, <%=user.get('username')%></p>


<script src="./vendor/bower_components/socket.io-client/socket.io.js"></script>
<div id="room">
	<ul></ul>
	<form class="form-control" action="">
		<input type="text" autocomplite="off" placeholder="Сообщение...">
	</form>
</div>

<script>
	var socket = io.connect('', {
		'reconnect': false
	});

	var form = $('#room form');
	var ul = $('#room ul');
	var input = $('#room input');

	

	socket
	.on('message', function (username, message) {
		printMessage(username + '> ' + message);
	})
	.on('leave', function (username) {
		printStatus(username + ' вышел из чата');
	})
	.on('join', function (username) {
		printStatus(username + ' вошол в чат');
	})
	.on('connect', function() {
		printStatus('соединение установлено');
		console.log('test')
		form.on('submit', sendMessage);
		input.prop('disabled', false);
	})
	.on('disconnect', function() {
		printStatus('соединение потеряно');
		form.off('submit', sendMessage);
		input.prop('disabled', true);
		this.$emit('error');
	})
	.on('error', function (reason) {
		if (reason == 'handshake unautorized') {
			printStatus('вы вышли из сайта');
		}else {
			setTimeout(function() {
				socket.socket.connect();
			}, 500)
		}
	});

	function sendMessage() {
		var text = input.val();
		socket.emit('message', text, function () {
			printMessage('я> '+text);

			console.log('text');
			input.val('');
			return false;
		});
	}

	function printStatus(status) {
		$('<li>').append($('<i>').text(status)).appendTo(ul);
	}

	function printMessage(text) {
		$('<li>').text(text).appendTo(ul);
	}
</script>