
<% layout('layout/page') -%>

<% block('title', 'Чат') %>

<p class="lead">Здесь будет чат.</p>

<p class="lead">Добро пожаловать, <%=user.get('username')%></p>


<script src="./vendor/bower_components/socket.io-client/socket.io.js"></script>

<!-- <div id="room">
	<ul></ul>
	<form  action="">
		<input class="form-control" type="text" autofocus autocomplite="off" placeholder="Сообщение...">
	</form>
</div> -->

 <script>
// 	var socket = io.connect('',{
// 		reconnect: true
// 	});
	
// 	var input = $('#room input');
// 	var form = $('#room form');
// 	var ul = $('#room ul');

// 	form.submit(function() {
		

// 		return false;
//  	});

//  	socket.on('message', function (message) {
//  		printMessage(message);
//  	})
//  	.on('connect', function() {
//  		printStatus('соединение установлено');
//  		form.on('submit', sendMessage);
//  		input.prop('disabled', false);
//  	})
//  	.on('disconnect', function() {
//  		printStatus('соединение потеряно');
//  		form.off('submit', sendMessage);
//  		input.prop('disabled', true);
//  	})
//  	.on('reconnect_failed', function() {
//  		alert('соединение потеряно навсегда');
//  	})


//  	function sendMessage() {
//  		var text = input.val();
//  		socket.emit('message', text, function () {
//  			printMessage('я> '+text);

//  			console.log('text');
//  			input.val('');
//  			return false;
//  		});
//  	}

//  	function printStatus(status) {
//  		$('<li>').append($('<i>').text(status)).appendTo(ul);
//  	}

//  	function printMessage(text) {
//  		$('<li>').text(text).appendTo(ul);
//  	}
// </script>


<div id="room">
	<ul></ul>
	<form  action="">
		<input class="form-control" type="text" autocomplite="off" placeholder="Сообщение...">
	</form>
</div>

<script>
	var socket = io.connect('', {
		'reconnect': false
	});

	var form = $('#room form');
	var ul = $('#room ul');
	var input = $('#room input');



	

	socket
	.on('message', function (username, message) {
		printMessage(username + '> ' + message);
	})
	.on('leave', function (username) {
		printStatus(username + ' вышел из чата');
	})
	.on('join', function (username) {
		printStatus(username + ' вошол в чат');
	})
	.on('connect', function() {
		printStatus('соединение установлено');
		form.on('submit', sendMessage);
		input.prop('disabled', false);
	})
	.on('disconnect', function() {
		printStatus('соединение потеряно');
		form.off('submit', sendMessage);
		input.prop('disabled', true);
		this.$emit('error');
	})
	.on('logout', function() {
		location.href = '/';
	})
	.on('error', function (reason) {
		if (reason == 'handshake unautorized') {
			printStatus('вы вышли из сайта');
		}else {
			setTimeout(function() {
				socket.connect();
			}, 500)
		}
	});

	form.submit(function() {
		return false;
	})

	function sendMessage() {
		var text = input.val();
		socket.emit('message', text, function () {
			printMessage('я> '+text);
			
			input.val('');
			return false;
		});
	}

	function printStatus(status) {
		$('<li>').append($('<i>').text(status)).appendTo(ul);
	}

	function printMessage(text) {
		$('<li>').text(text).appendTo(ul);
	}
</script>