<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=blocks.title%></title>

    <link rel="stylesheet" type="text/css" href="./vendor/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <script  type="text/javascript" src="./vendor/bower_components/jquery/dist/jquery.js"></script>
    <script  type="text/javascript" src="./vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    
</head>
<body>
     <header><%- blocks.header %></header> 
    <section class="container">

         <%- partial('../partials/topNavigation') %> 

        <h1><%- blocks.title %></h1>

        <%- body -%>
    </section>
    <footer>
         <%- blocks.footer %> 
    </footer>
</body>
</html>