<nav class="navbar navbar-dafault" role="navigation">
    <ul class="nav navbar-nav">
        <li><a href="/">Главная</a></li>
        <% if (user) { %>
        <li><a href="/chat">Чат</a></li>
        <% } %>
    </ul>
    <ul class="nav navbar-nav navbar-right">
    	<% if (user) { %>
    	<li><a href="" onclick="$('<form method=POST action=/logout>').submit();return false">Выйти</a></li>
    	<% }else { %>
        <li><a href="/login">Войти</a></li>
        <% } %>
    </ul>
</nav>